.venv_gpu/
.venv/
.idea/
__pycache__/
*.pyc
data/
logs/
models/
results/
checkpoints/
*.log
.DS_Store
.ipynb_checkpoints/
.vscode/
.env
.env.*
*.sqlite3
*.ckpt
*.h5
*.pth
*.pt
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.pytest_cache/
.mypy_cache/
.pytest_cache/
__pycache__/data_utils.cpython-313.pyc
__pycache__/layer.cpython-313.pyc
__pycache__/network.cpython-313.pyc
__pycache__/neuron.cpython-313.pyc
__pycache__/trainer.cpython-313.pyc
site/
*.iml
