name: Deploy MkDocs

on:
  push:
    branches: [main]
    paths:
      - 'mkdocs.yml'
      - 'tutorial/**'
      - '.github/workflows/mkdocs.yml'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install mkdocs mkdocs-material
      - name: Deploy
        run: mkdocs gh-deploy --force
